.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-text-1 {
  margin: 79px auto 0;
}

.u-section-1 .u-image-1 {
  width: 465px;
  height: 465px;
  margin: 79px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}