 .u-section-1 {
  background-image: url("images/Background1.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 433px;
}

.u-section-1 .u-image-1 {
  width: 757px;
  height: 284px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}

.u-block-a9c2-4:not([data-block-selected]):not([data-cell-selected]),
.u-block-a9c2-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a9c2-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 368px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 16px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px 99px 0 auto;
  padding: 8px 71px 9px;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -42px auto 0 99px;
  padding: 8px 43px 9px 42px;
}

.u-section-2 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -42px auto 32px;
  padding: 8px 56px 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 46px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 168px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -178px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 26px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-btn-3 {
    margin-bottom: 100px;
  }
}

.u-block-140b-9:not([data-block-selected]):not([data-cell-selected]),
.u-block-140b-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-140b-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 417px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

.u-section-3 .u-video-1 {
  width: 533px;
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px auto 0 5px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 533px;
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -300px auto 27px 602px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 423px;
    margin-left: 423px;
  }

  .u-section-3 .u-video-1 {
    margin-left: auto;
  }

  .u-section-3 .u-video-2 {
    margin-top: 32px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-video-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-video-2 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-3 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 870px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 511px 0;
}

.u-section-4 .u-list-1 {
  margin: 32px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 738px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-image-1 {
  width: 198px;
  height: 198px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/enb2024_8_14_13_13_53.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 25px 16px 0;
}

.u-section-4 .u-list-item-2 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-image-2 {
  width: 198px;
  height: 198px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/enb2024_8_14_12_30_34.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 25px 16px 0;
}

.u-section-4 .u-list-item-3 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-image-3 {
  width: 198px;
  height: 198px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/enb2024_8_14_13_05_35.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 25px 16px 0;
}

.u-section-4 .u-list-item-4 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-image-4 {
  width: 198px;
  height: 198px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/enb2024_8_7_19_10_03.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 25px 16px 0;
}

.u-section-4 .u-list-item-5 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-4 .u-image-5 {
  width: 198px;
  height: 198px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/enb2024_8_12_23_57_34.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 25px 16px 0;
}

.u-section-4 .u-list-item-6 {
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-4 .u-image-6 {
  width: 198px;
  height: 198px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/enb2024_8_9_19_00_54.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 25px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 411px;
    margin-right: 411px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 607px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-1 {
    width: 173px;
    height: 173px;
    --radius: 10px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-2 {
    width: 173px;
    height: 173px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-3 {
    width: 173px;
    height: 173px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-4 {
    width: 173px;
    height: 173px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-5 {
    width: 173px;
    height: 173px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-4 .u-image-6 {
    width: 173px;
    height: 173px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 301px;
    margin-right: 301px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1078px;
  }

  .u-section-4 .u-image-1 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: 266px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-2 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    width: 266px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-3 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: 266px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-4 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    width: 266px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-5 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    width: 266px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-6 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    width: 266px;
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2022px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 1890px;
  }

  .u-section-4 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-2 {
    width: 411px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 191px;
    height: 191px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    width: 411px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 191px;
    height: 191px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-4 {
    width: 411px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-4 {
    width: 191px;
    height: 191px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-5 {
    width: 411px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    width: 191px;
    height: 191px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-6 {
    width: 411px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-6 {
    width: 191px;
    height: 191px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-7 {
    width: 411px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2126px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 2001px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-4,
.u-section-4 .u-list-item-4:before,
.u-section-4 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-5,
.u-section-4 .u-list-item-5:before,
.u-section-4 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-6,
.u-section-4 .u-list-item-6:before,
.u-section-4 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: scale(1.02) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 209px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 699px;
  margin: 32px 221px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 691px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-5 .u-text-2 {
    width: 566px;
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-5 .u-text-2 {
    width: 383px;
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 110px;
    margin-right: 110px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}