 .u-section-1 {
  background-image: url("images/Screenshot17.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  margin-top: 94px;
  margin-bottom: 0;
  margin-left: 720px;
  width: 354px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -461px 665px 0 224px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 66px 527px 60px 86px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 95px;
    margin-left: 586px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -488px;
    margin-right: 565px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 413px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -231px;
    margin-left: calc(((100% - 720px) / 2) + 378px);
  }

  .u-section-1 .u-text-1 {
    width: 251px;
    margin-top: 417px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 527px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2) + 186px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 346px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 85px;
} .u-section-3 {
  background-image: url("images/Screenshot20.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 488px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 60px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  margin: 203px auto 0 127px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 3.75rem;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-2 {
  padding: 18px 60px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px 16px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 6px auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 194px;
    margin-right: 25px;
    margin-left: 35px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 95px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 117px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 51px;
    margin-right: 20px;
    margin-left: 0;
  }
}