 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Screenshot8.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 847px;
}

.u-section-1 .u-text-1 {
  margin: 36px 178px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0 444px;
}

.u-section-1 .u-image-1 {
  width: 411px;
  height: 494px;
  margin: -640px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1663px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 112px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 409px;
  }
}