 .u-section-1 {
  background-image: url("images/Screenshot1.png");
  min-height: 575px;
}

.u-section-1 .u-image-1 {
  height: 529px;
  width: 878px;
  margin: 23px auto 23px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 474px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 268px;
  }

  .u-section-1 .u-image-1 {
    height: 434px;
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 160px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 39px;
  }

  .u-section-1 .u-image-1 {
    height: 205px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 82px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 8144px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 8144px;
  margin-top: 0;
}